@import "reset.css";

:root {
    --side-margin: 14%;
    --footer-clearance: 100px;
    --standard-gap: 20px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: lightsteelblue;
    overflow-y: scroll;
}

p {
    margin: 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1215px;
    min-width: 300px;
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    height: 7rem;
    margin-right: var(--side-margin);
}

.header a {
    text-decoration: none;
    margin-left: 2rem;
    border-bottom: 3px solid transparent;
}

.header .logo {
    margin-right: auto;
    margin-left: var(--side-margin);
    border-bottom: 3px solid transparent;
}

.header a:link, a:visited, a:hover, a:active, .logo {
    color: #777;
}

.header a.active {
    border-bottom: 3px solid steelblue;
}

.content {
    margin: var(--standard-gap) var(--side-margin);
    padding-bottom: var(--footer-clearance);
}

.content p {
    font-size: 1.5rem;
    text-align: justify;
}

.content h1 {
    margin-bottom: 1rem;
}

nav.mosaic {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    margin-top: 50px;
}

.mosaic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid darkgrey;
}

.footer {
    position: relative;
    color:white;
    font-size: 1.2rem;
    min-height: 10rem;
    background-color: steelblue;
    padding: 95px var(--standard-gap) var(--standard-gap);
    margin-top: auto;
    text-align: justify;
}

.footer img {
    position: absolute;
    top: -50px;
    width: 125px;
    height: 125px;
    left: var(--side-margin);
    border: 5px solid white;
}

canvas {
    border: 1px solid darkgrey;
}

@media only screen and (max-width: 500px) {
    .content p {
        text-align: left;
    }
    .intro {
        text-align: left;
    }
    .footer {
        text-align: left;
    }
}
