@import "reset.css";

:root {
    --side-margin: 14%;
    --footer-clearance: 100px;
    --standard-gap: 20px;
    --portrait-size: clamp(100px, 10vw, 125px);
}

html {
    font-size: 62.5%;
}

strong, h1 {
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: lightsteelblue;
    overflow-y: scroll;
}

p {
    margin: 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1215px;
    min-width: 300px;
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    height: 7rem;
    background-color: steelblue;
    margin-bottom: calc(var(--standard-gap) * 2)
}

.header a {
    text-decoration: none;
    margin-left: 2rem;
    border-bottom: 3px solid transparent;
}

.header .logo {
    margin-right: auto;
    margin-left: var(--side-margin);
    border-bottom: 3px solid transparent;
}

.header nav {
    margin-right: var(--side-margin);
}

a {
    color: darkorange;
    font-weight: 600;
}

.header a, .logo {
    color: white;
    font-weight: normal;
}

.header a.active {
    border-bottom: 3px solid white;
}

.main {
    margin: var(--standard-gap) var(--side-margin);
    padding-bottom: var(--footer-clearance);
}

.main p {
    font-size: 1.5rem;
    text-align: justify;
}

.main h1 {
    margin-bottom: 1rem;
}

.mosaic {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    margin-top: 50px;
}

.mosaic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid darkgrey;
}

.mosaic figcaption {
    text-align: center;
    font-weight: 600;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: steelblue;
    font-size: 1.2rem;
    min-height: 12rem;
    margin-top: auto;
}

.footer .portrait {
    position: absolute;
    top: -50px;
    width: var(--portrait-size);
    height: var(--portrait-size);
    left: var(--side-margin);
    border: 5px solid white;
}

.footer .colophon {
    height: 75px;
    font-size: 2rem;
    margin-left: calc(var(--side-margin) + var(--portrait-size) + var(--standard-gap));
    padding-top: 10px;
}

.footer .colophon .location {
    font-size: 60%;
}

.footer .colophon img {
    width: 16px;
    height: 16px;
    margin: 5px 5px 5px 0;
    vertical-align: middle;
}

.footer .icons {
    text-align: right;
    height: 75px;
    padding-right: 20px;
}

.footer .icons img {
    width: 32px;
    height: 32px;
    margin: 15px 5px 0;
}

canvas {
    border: 1px solid darkgrey;
}

code {
    display: block;
    font-size: 1.5rem;
    white-space: pre-wrap;
    background-color: Gainsboro;
    border-radius: 5px;
    padding-left: 30px;
}

.wolfram-table {
    border: 1px solid lightGray;
    border-collapse: collapse;
    width: 50%;
    font-size: 1.5rem;
}

.wolfram-table td {
    border: 1px solid lightGray;
    text-align: center;
}

.evolution-start {
    font-size: 2rem;
    padding: 2px 10px;
}

.evolution-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evolution-table {
    border: 1px solid lightGray;
    border-collapse: collapse;
    width: 70%;
    font-size: 1.5rem;
}

.evolution-table th, .evolution-table td {
    border: 1px solid lightGray;
    text-align: left;
    padding: 2px 5px;
}

.evolution-table td {
    font-family: monospace;
    white-space: pre;
}

blockquote {
    position: relative;
    font-size: 1.5rem;
    background: #f9f9f9;
    border-left: 30px solid #ccc;
    border-right: 30px solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 20px;
}

blockquote.play {
    display: grid;
    grid-template-columns: 8rem 1fr;
}

blockquote::before {
    font-family: "Times New Roman", serif;
    position: absolute;
    left: -23px;
    top: -10px;
    font-size: 4rem;
    content: "\201c";
    color: white;
}

blockquote::after {
    font-family: "Times New Roman", serif;
    position: absolute;
    right: -23px;
    bottom: -30px;
    font-size: 4rem;
    content: "\201d";
    color: white;
}

.pentomino_tiles_img {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .main p {
        text-align: left;
    }
    .intro {
        text-align: left;
    }
    .footer {
        text-align: left;
    }
    .footer .colophon {
        font-size: 1.5rem;
        margin-left: var(--standard-gap);
        margin-top: calc(var(--portrait-size) / 2);
    }
    code {
        padding-left: 2px;
        font-size: 1.2rem;
    }
    .evolution-intro {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
    }
    .evolution-start {
        font-size: 1.5rem;
        padding: 2px 10px;
        margin-bottom: 20px;
    }
    .evolution-table {
        width: 60%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    /* on very narrow screens move the table somewhat to the left, so we don't have
    to make the font-size smaller because that would affect readability */
    .evolution-table {
        margin-left: -20px;
    }
}

@media screen and (hover: none) {
    figure.desktop-only {
        display: none;
    }
}
